{% load static %}

<!DOCTYPE html>

<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="News Application">
    <meta name="author" content="Andy Pai">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">

    <title>NANA - {% block title %}Your News{% endblock %}</title>    
    </head>

    <div class="navbar navbar-inverse">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/nana">Not Another News App</a>
      </div>
      <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
          <li {% if request.get_full_path = '/nana/' %} class="active" {% endif %}><a href="/nana/">Headlines</a></li>
          <li {% if request.get_full_path = '/nana/my_summaries/' %} class="active" {% endif %}><a href="/nana/my_summaries">My Summaries</a></li>
<!-- Drop Down List
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Dropdown header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>

 -->    </ul>

        {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">          
            <li><a href='/nana/logout'>Logout</a></li>
          </ul>
        {% else %}
          <ul class="nav navbar-nav navbar-right">          
            <li><a href='/nana/login'>Login</a></li>
            <li><a href='/nana/register'>Register</a></li>
          </ul>
        {% endif %}

        <form class="navbar-form navbar-right" method='POST' action='/nana/search/'>
          {% csrf_token %}
          <input type="text" class="form-control col-lg-8" placeholder="Search" name='search'>
          <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
        </form>

      </div>
    </div>

    <body>
      {% block body %}

        {% if headlines_template %}
          {% include 'core/headlines.html' %}
        {% endif %}

        {% if request.get_full_path = '/nana/my_summaries/' %}
          {% include 'core/user_summaries.html' %}
        {% endif %}

      {% endblock %}

          <hr>

      <footer style='margin-left: 12px;'>
        <p>&copy; Not Another News App  2014</p>
      </footer>


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>    
    <script>
        $(document).on("click", "#show", function () {
            $(this).toggleClass("active").next().slideToggle("fast");

            if ($.trim($(this).text()) === 'Show Details') {
                $(this).text('Hide Details');
            } else {
                $(this).text('Show Details');
            }
            return false;
        });
    </script>
    </body>

</html>
