{% load static %}
{% load endless %}

<div class="jumbotron">
  <div class="container">
    <h1>Top Headlines 
      {% if category != 'Top' %}
        in <span class="text-danger">{{ category }}</span>
      {% endif %}
    </h1>
    <p>Today's headlines curated for you from various sources.</p>
    <a href="/nana/headlines/top"><button type="button" class="btn btn-success">Top</button></a>
    <a href="/nana/headlines/world"><button type="button" class="btn btn-success">World</button></a>
    <a href="/nana/headlines/us"><button type="button" class="btn btn-success">US</button></a>
    <a href="/nana/headlines/business"><button type="button" class="btn btn-success">Business</button></a>
    <a href="/nana/headlines/technology"><button type="button" class="btn btn-success">Tech</button></a>
    <a href="/nana/headlines/media"><button type="button" class="btn btn-success">Media</button></a>
    <a href="/nana/headlines/sports"><button type="button" class="btn btn-success">Sports</button></a>
    <a href="/nana/headlines/science"><button type="button" class="btn btn-success">Science</button></a>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
    {% if headlines %}
    <h3><span class="text-danger">{{ category }}</span> Headlines</h3>
        {% include page_template %}

        {% block js %}
            <script src="http://code.jquery.com/jquery-latest.js"></script>
            <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
            <script>
            $.endlessPaginate({
                                paginateOnScroll: true,
                                paginateOnScrollMarign: 5
                              });
            </script>
        {% endblock %}
    {% endif %}
  </div>
</div>

<script src="{% static 'js/like.js' %}"></script>