
{% block body_block %}

    <p>Welcome to the last new app you'll ever use!  Enter the details for the article you would like to read below.  We'll summarize the article for you, save it for your later reference, and even help you read it faster. Try it!  We built it so even our nana's could use it! </p>

    <form method='POST' action='/nana/add/'>
        {% csrf_token %}
        {% for field in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}<br />
        {% endfor %}

        <input type='submit' name='submit' value='Submit'>
    </form>

    {% if user.is_authenticated %}
        {% if user_summaries %}
        <h3>Latest Summaries</h3>
            {% for summary in user_summaries %}
                <ul>
                    Title: {{ summary.title }}
                    <button class="reveal">Show Details</button>
                    <div class='toggle_container' style="display: none;">
                        <div class='block'>
                            <li>Summary: {{ summary.summary }}</li>
                            <li>Comments: {{ summary.comments }}</li>
                            <li>URL: <a href='{{ headline.url }}'>{{ summary.url }}</a></li>
                            <li>Likes: {{ summary.likes }}</li>
                            <li>Added: {{ summary.added }}</li>
                        </div>
                    </div>
                </ul>
            {% endfor %}
        {% endif %}
    {% endif %}

<!-- 

        {% paginate headlines %}
        {% for headline in headlines %}
            <ul>
                Title: {{ headline.title }}
                <button class="reveal">Show Details</button>
                <div class='toggle_container'>
                    <div class='block'>
                        <li>Summary: {{ headline.summary }}</li>
                        <li>Comments: {{ headline.comments }}</li>
                        <li>URL: <a href='{{ headline.url }}'>{{ headline.url }}</a></li>
                        <li>Likes: {{ headline.likes }}</li>
                        <li>Added: {{ headline.added }}</li>
                    </div>
                </div>
            </ul>
        {% endfor %}
        {% show_pages %} -->

{% endblock %}

</html>