<div class="well well-sm">    
    <h4><a class="text-primary" href="{{ s.url }}">{{ s.title }}</a>
        <span id="remove" data-sumid="{{ s.id }}" class="glyphicon glyphicon-trash pull-right" alt="Delete"></span>
    </h4>
    <button style='margin-left: 12px;' class="reveal btn btn-info btn-xs" id='show'>Show Details</button>
        <div class='toggle_container' style="display: none;">
            <div class="row">
            <div class='block col-md-11'>
              <blockquote class="pull-left">
                <h5>"{{ s.summary }}"</h5>
                <small>URL: <cite title="{{ s.url }}"><a href='{{ s.url }}'>{{ s.url }}</a></cite></small>
              </blockquote>
                Comments:  {{ s.comments }}
                <!-- <span style='margin-left: 12px;' id="edit" data-sumid="{{ summary.id }}" class="glyphicon glyphicon-pencil"></span> -->

                <br />
                Added:  {{ s.added }}
            </div>
            </div>
        </div>
</div>
