{% extends 'core/base.html' %}
{% block body %}
<style>
    body{padding-top:20px;}
</style>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please sign in</h3>
                </div>

                <div class="panel-body">                    
                    <form accept-charset="UTF-8" role="form" method='POST' action='/nana/login/'>
                    {% csrf_token %}
                    {% if bad_details %}
                        <p class="text-danger"><strong>Incorrect username and/or password!</strong></p>
                    {% elif disabled_account %}
                        <p class="text-danger"><strong>Your Rango account is currently disabled; we can't log you in!</strong></p>
                    {% endif %}

                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="Username" name="username" value="" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="password"  value="" type="password">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                            </label>
                        </div>
                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                    </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
        
{% endblock %}