{% load endless %}
{% load humanize %}
{% paginate headlines %}

{% for headline, liked in headlines %}

<div class="">
    <div class="well well-sm">
        <h4>
            <a class="text-primary" href={{ headline.url }}>{{ headline.title }}</a>

            <small id="total_likes" class="text-info" style='margin-left: 12px;'>

                {% if headline.likes == 1 %}
                    {{ headline.likes }} like
                {% else %}
                    {{ headline.likes }} likes
                {% endif %}

            </small>

            {% if user.is_authenticated %}
                <span id='like_container'>
                  {% if liked %}

                    <button style='margin-left: 4px;' id="like" data-headid="{{headline.id}}" class="reveal btn btn-info disabled btn-xs" type="button"><em>Liked</em></button>
                  
                  {% else %}

                    <button style='margin-left: 4px;' id="like" data-headid="{{headline.id}}" class="reveal btn btn-info btn-xs" type="button">Like</button>

                  {% endif %}

                </span>
            {% endif %}

        </h4>

        <button style='margin-left: 12px;' class="reveal btn btn-info btn-xs" id='show'>Show Details</button>
            <div class='toggle_container' style="display: none;">
                <div class="row">
                <div class='block col-md-11'>
                  <blockquote class="pull-left">
                    <h5>"{{ headline.summary }}"</h5>
                    <small>URL: <cite title="{{ headline.url }}"><a href='{{ headline.url }}'>{{ headline.url }}</a></cite></small>
                  </blockquote>
                    Published:  {{ headline.published|naturaltime }}
                </div>
                </div>
            </div>

    </div>
</div>

{% endfor %}

{% show_more %}
