{% load endless %}
{% load humanize %}
{% paginate user_summaries %}

{% for summary in user_summaries %}

<div class="well well-sm">    
    <h4><a class="text-primary" href={{ summary.url }}>{{ summary.title }}</a>
        <span id="remove" data-sumid="{{ summary.id }}" class="glyphicon glyphicon-trash pull-right" alt="Delete"></span>
    </h4>
    <button style='margin-left: 12px;' class="reveal btn btn-info btn-xs" id='show'>Show Details</button>
        <div class='toggle_container' style="display: none;">
            <div class="row">
            <div class='block col-md-11'>
              <blockquote class="pull-left">
                <h5>"{{ summary.summary }}"</h5>
                <small>URL: <cite title="{{ summary.url }}"><a href='{{ summary.url }}'>{{ summary.url }}</a></cite></small>
              </blockquote>
                Comments:  {{ summary.comments }}
                <!-- <span style='margin-left: 12px;' id="edit" data-sumid="{{ summary.id }}" class="glyphicon glyphicon-pencil"></span> -->
                <br />
                Added:  {{ summary.added|naturaltime }}
            </div>
            </div>
        </div>
</div>

{% endfor %}

{% show_more %}
