{% extends 'core/base.html' %}
{% block body %}
<style>
    body{padding-top:20px;}
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Register</h3>
                </div>

                <div class="panel-body">                    
                {% if registered %}
                    Thank you for registering!  Save your summaries!
                {% else %}
                    <form accept-charset="UTF-8" role="form" method='POST' action='/nana/register/'>
                        {% csrf_token %}
                        <p class="text-danger"><strong>
                            {{ user_form.non_field_errors.as_text }}
                            {{ profile_form.non_field_errors.as_text }}
                        </strong></p>
                        {% if password_mismatch %}
                            <p class="text-danger"><strong>The two passwords you entered didn't match!</strong></p>
                        {% endif %}
                    <fieldset>
                        <div class="form-group">
                            <p class="text-danger"><strong>
                                {{ user_form.username.errors.as_text }}
                            </strong></p>
                            <label for="username">Choose Username:</label>
                            <input class="form-control" placeholder="username" name="username"  value="" type="text">
                        </div>    
                        <div class="form-group">
                            <p class="text-danger"><strong>
                                {{ user_form.email.errors.as_text }}
                            </strong></p>
                            <label for="email">Email:</label>
                            <input class="form-control" placeholder="andy@example.com" name="email"  value="" type="email">
                        </div>                        
                        <div class="form-group">
                            <p class="text-danger"><strong>
                                {{ user_form.password.errors.as_text }}
                            </strong></p>
                            <label for="password">Password:</label>
                            <input class="form-control" placeholder="password" name="password"  value="" type="password">
                        </div>
                        <div class="form-group">
                            <label for="pass_check">Re-type Password:</label>
                            <input class="form-control" placeholder="password" name="password2"  value="" type="password">
                        </div>
                        <div class="form-group">
                            <p class="text-danger"><strong>
                                {{ profile_form.website.errors.as_text }}
                            </strong></p>
                            <label for="website">Website (optional):</label>
                            <input class="form-control" placeholder="www.example.com" name="website"  value="" type="text">
                        </div>
                        <div class="form-group">
                            <p class="text-danger"><strong>
                                {{ profile_form.picture.errors.as_text }}
                            </strong></p>
                            <label for="picture">Upload Picture (optional):</label>                            
                            <input id="id_picture" name="picture" type="file">
                        </div>

                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Register">
                    </fieldset>
                    </form>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
        
{% endblock %}



<!--         {% if registered %}
        Thank you for registering!
        
        {% else %}
        Register here!

        <form id='user_form' method='POST' action='nana/register' enctype='multipart/form-data'>
            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type='submit' name='submit' value='Register'>
        </form>
        {% endif %}
    </body>
</html> -->