{% extends 'core/base.html' %}

{% block body %}


<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
        <h3>Search results in Headlines for '<span class="text-info"><em>{{ searched }}</em></span>':</h3>
            {% for headline in headlines %}
            <div class="well well-sm">
                <h4><a class="text-primary" href={{ headline.url }}>{{ headline.title }}</a></h4>
                <button style='margin-left: 12px;' class="reveal btn btn-info btn-xs" id='show'>Show Details</button>
                    <div class='toggle_container' style="display: none;">
                        <div class="row">
                        <div class='block col-md-11'>
                          <blockquote class="pull-left">
                            <h5>"{{ headline.summary }}"</h5>
                            <small>URL: <cite title="{{ headline.url }}"><a href='{{ headline.url }}'>{{ headline.url }}</a></cite></small>
                          </blockquote>
                            Published:  {{ headline.published | date:"g A e, M-d-y" }}
                        </div>
                        </div>
                    </div>

            </div>
            {% endfor %}
        <br />
        

        {% if user.is_authenticated %}

            {% if results %}

            <h3>Search results in My Summaries for '<span class="text-info"><em>{{ searched }}</em></span>':</h3>
                {% for result in my_summaries %}
                <div class="well well-sm">
                    <h4><a class="text-primary" href={{ result.url }}>{{ result.title }}</a></h4>
                    <button style='margin-left: 12px;' class="reveal btn btn-info btn-xs" id="show">Show Details</button>
                        <div class='toggle_container' style="display: none;">
                            <div class="row">
                            <div class='block col-md-11'>
                              <blockquote class="pull-left">
                                <h5>"{{ result.summary }}"</h5>
                                <small>URL: <cite title="{{ result.url }}"><a href='{{ result.url }}'>{{ result.url }}</a></cite></small>
                              </blockquote>
                                Comments:  {{ result.comments }}<br />
                                Added:  {{ result.added }}
                            </div>
                            </div>
                        </div>
                </div>
                {% endfor %}

            {% else %}

                <h3>No search results in My Summaries for '<span class="text-info"><em>{{ searched }}</em></span>'!</h3>

            {% endif %}

        {% endif %}




    </div>
  </div>
</div>


{% endblock %}