<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>N.A.N.A.</title>    
    </head>

    <body>
        <h1>NANA</h1>
        <p>Welcome to the last new app you'll ever use!  Enter the details for the article you would like to read below.  We'll summarize the article for you, save it for your later reference, and even help you read it faster. Try it!  We built it so even our nana's could use it! </p>

        {% if added %}
            Url:  {{ url }}
            <br />
            Title:  {{ title }}
            <br />
            Summary:  {{ summary }}
            <br />
        {% endif %}



    </body>

</html>