{% load static %}
{% load endless %}
<style>
    h3.panel-title{padding-bottom: 10px;}
</style>

<div class="jumbotron">
  <div class="container">
    <h1>My Summaries</h1>
    <p>Stories that you've saved for later reference.</p>
    <div class="row">
        <div class="col-md-8"><br />
                <form accept-charset="UTF-8" role="form" method='POST' action='/nana/add/' id='url_submit'>
                  {% csrf_token %}
                    {% for field in form.hidden_fields %}
                      {{ hidden }}
                    {% endfor %}
                  <fieldset>
                      <div class="form-group">
                          <label>Enter url for the article you would like summarized and saved:</label>
                          <input class="form-control" placeholder="Link / URL" name="url" value="" type="text">
                      </div>
                      <div class="form-group">                     
                          <label for="textArea">Comments</label>
                          <textarea class="form-control" rows="3" id="textArea" name='comments'></textarea>
                    </div>
                     <button id="summarize" type="submit" class="btn btn-success" type="button">Summarize!</button>
                  </fieldset>
                </form>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <h3>Recent Submissions:</h3>
      <div id="spinner" style="display: none;">
        <div class="row">
        <div class="col-md-4">
          <div class="bubblingG">
            <span id="bubblingG_1">
            </span>
            <span id="bubblingG_2">
            </span>
            <span id="bubblingG_3">
            </span>
          </div> <!-- - See more at: http://cssload.net/#sthash.CstPp0Wr.dpuf -->
        </div>  
        <div class="col-md-4">  
          Loading
        </div>

        <div class="col-md-4">  
            <div class="bubblingG">
              <span id="bubblingG_1">
              </span>
              <span id="bubblingG_2">
              </span>
              <span id="bubblingG_3">
              </span>
            </div> <!-- - See more at: http://cssload.net/#sthash.CstPp0Wr.dpuf -->
        </div>
        </div>
      </div>
      <div id="new_summary">        
      </div>

    {% if user_summaries %}
      {% include page_template %}

      {% block js %}
            <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
            <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
            <script>
            $.endlessPaginate({
                                paginateOnScroll: true,
                                paginateOnScrollMarign: 5
                              });
            </script>
      {% endblock %}
    {% endif %}

    </div>
  </div>
</div>
<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'js/in_summary.js' %}"></script>
<script src="{% static 'js/edit.js' %}"></script>
<link href="{% static 'css/spinner.css' %}" rel="stylesheet" media="screen">

<style>

#remove 
{
    opacity: .5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#remove:hover 
{
    opacity: 1;
}

</style>

