.bubblingG {
text-align: center;
width:80px;
height:50px;
}

.bubblingG span {
display: inline-block;
vertical-align: middle;
width: 10px;
height: 10px;
margin: 25px auto;
background: #18bc9c;
-moz-border-radius: 50px;
-moz-animation: bubblingG 0.8s infinite alternate;
-webkit-border-radius: 50px;
-webkit-animation: bubblingG 0.8s infinite alternate;
-ms-border-radius: 50px;
-ms-animation: bubblingG 0.8s infinite alternate;
-o-border-radius: 50px;
-o-animation: bubblingG 0.8s infinite alternate;
border-radius: 50px;
animation: bubblingG 0.8s infinite alternate;
}

#bubblingG_1 {
-moz-animation-delay: 0s;
-webkit-animation-delay: 0s;
-ms-animation-delay: 0s;
-o-animation-delay: 0s;
animation-delay: 0s;
}

#bubblingG_2 {
-moz-animation-delay: 0.24s;
-webkit-animation-delay: 0.24s;
-ms-animation-delay: 0.24s;
-o-animation-delay: 0.24s;
animation-delay: 0.24s;
}

#bubblingG_3 {
-moz-animation-delay: 0.48s;
-webkit-animation-delay: 0.48s;
-ms-animation-delay: 0.48s;
-o-animation-delay: 0.48s;
animation-delay: 0.48s;
}

@-moz-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#18bc9c;
-moz-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#3498db;
-moz-transform: translateY(-21px);
}

}

@-webkit-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#18bc9c;
-webkit-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#3498db;
-webkit-transform: translateY(-21px);
}

}

@-ms-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#18bc9c;
-ms-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#3498db;
-ms-transform: translateY(-21px);
}

}

@-o-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#18bc9c;
-o-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#3498db;
-o-transform: translateY(-21px);
}

}

@keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#18bc9c;
transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#3498db;
transform: translateY(-21px);
}

}
